<div class="card-header">
  <h2>Proxycrawl Test</h2>
</div>
<div class="card-body">
  <h1>Hello</h1>
  <p>Welcome to twitter profile crawler</p>
  <p>
    Here you can check crawl any twitter profile by adding the url and see the related info.
  </p>
  <%= link_to 'New crawl', new_crawl_path, class: 'btn btn-info'%>
</div>
